*.o
.vscode
.DS_Store
module_00/ex00/megaphone
module_00/ex01/phonebook
module_01/ex00/zombie
module_01/ex01/zombie_horde
module_01/ex02/brain
module_01/ex03/violence
module_01/ex04/sed
module_01/ex04/test.txt.replace
module_01/ex05/harl
module_01/ex06/harlFilter
module_02/ex00/fixed