*.o
.vscode
.DS_Store
module_00/ex00/megaphone
module_00/ex01/phonebook
module_01/ex00/zombie
module_01/ex01/zombie_horde
module_01/ex02/brain
module_01/ex03/violence
module_01/ex04/sed
module_01/ex04/test.txt.replace
module_01/ex05/harl
module_01/ex06/harlFilter
module_02/ex00/fixed
module_02/ex01/fixed
module_02/ex02/fixed
module_03/ex00/trap
module_03/ex01/trap
module_03/ex02/trap
module_04/ex00/animals
module_04/ex01/animals_with_brains
module_04/ex02/abstract_animals_with_brains
module_05/ex00/bureaucrat
module_05/ex01/bureaucrat
module_05/ex02/bureaucrat
module_05/ex03/bureaucrat
module_05/*/*_shrubbery
module_06/ex00/convert
module_06/ex01/serializer
module_06/ex02/real_type
module_07/ex00/template
module_07/ex01/template
module_07/ex02/array_template
module_08/ex00/easyfind
module_08/ex01/span
module_08/ex01/abomination
module_09/ex00/bitcoin_exchange
module_09/ex01/rpn
module_09/ex02/PmergeMe
module_09/ex02/gen